@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --text-font: 'Open Sans', sans-serif;
    --bg-color: #1E88E5;
    --container-color: #F5F5F5;
    --btn-hover-color: #42A5F5;
    --result-color: #C8E6C9;
    --invalid-color: #FFCDD2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--text-font);
    background-color: var(--bg-color);
}

.container {
    max-width: 64rem;
    margin: 5rem auto;
    background-color: var(--container-color);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 1rem;
    box-shadow: 4px 4px 6px 0px #000;
}

.box {
    display: flex;
    margin-block: 2rem;
}

.content {
    width: 33.3%;
}

.main-title {
    font-size: 3rem;
    text-align: center;
}

.main-title.-second {
    font-size: 2.4rem;
    text-align: left;
}

.main-text {
    font-size: 1.8rem;
}

.main-text.item {
    list-style: none;
}

.main-label, .main-input, .main-button {
    display: block;
    margin-block: 1rem;
    font-size: 1.8rem;
}

.main-input, .main-button {
    width: 100%;
    padding: .8rem 1rem;
}

.main-label {
    font-weight: 700;
}

.main-input:focus {
    font-size: 1.8rem;
    outline: solid .2rem var(--bg-color);
}

.main-button {
    border: none;
    padding: 1.5rem 1;
    margin-top: 3.5rem;
    background-color: var(--bg-color);
    color: var(--container-color);
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.main-button:hover {
    background-color: var(--btn-hover-color);
}

.result, .invalid {
    font-size: 1.8rem;
    padding: 1rem;
}

.result {
    background-color: var(--result-color);
}

.invalid {
    background-color: var(--invalid-color);
}